@page
@model HeadCount.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>HeadCount</h1>
@if (Model.CurrentUserRole == "del")
{
    <section style="background-color:red">
        <h1>Welcome,Delegate</h1>
    </section>
}
else if (Model.CurrentUserRole == ("slt"))
{
    <section style="background-color:red">
        <h1>Welcome,Senior Leadership Team!</h1>
    </section>
}
else if (Model.CurrentUserRole == ("acct"))
{
    <section style="background-color:red">
        <h1> Welcome,Accountant!</h1>
    </section>
}
else if (Model.CurrentUserRole == ("sup"))
{
    <section style="background-color:red">
        <h1>Welcome,Supervisor!</h1>
    </section>
}

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].DeptId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].Approved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].URId)
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].ApprPos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee[0].ReleaseDate)
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        {
        <section class="grid-container">

            @foreach (var item in Model.Employee)
            {
                <aside class="grid-item">
                    @item.ApprPos|@item.FName
                    <a asp-page="./Edit" asp-route-id="@item.EmpId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.EmpId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.EmpId">Delete</a>
                </aside>
            }
        </section>

        }
    </tbody>
</table>